*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}

/* NAVBAR */
.navbar{
    background: #008b8b;
    opacity: 0.8;
}
.navbar svg{
    margin-left: 1em;
    width: 2em;
    height: 2em;
}
.navbar a{
    color: #fff !important;
}
.navbar-nav{
    margin-left: auto;
}
.navbar-nav a{
    color: #fff !important;
}

/* HEADER */
.carousel-inner{
    height: auto;
}
.carousel-item img{
    height: auto;
}
.header{
    margin-bottom: 5em;
}

/* TITULOS SECCIONES */
.titulo{
    text-align: center;
    margin-top: 2em;
}
.hr{
    border-color: #008b8b;
}

/* SECTION QUIENES SOMOS */
.icono{
    background: #008b8b;
    text-align: center;
}
.quienes-somos{
    margin-bottom: 5em;
}

/* SECTION DESTACADOS */
.destacados{
    margin-bottom: 5em;
}
.card{
    display: inline-block;
    background: #008b8b;
    margin-right: 1em;
    margin-bottom: 1em;
}

/* SECTION CONTACTO */
.formulario{
    text-align: center;
}

/* FOOTER */
.footer{
    background: #008b8b;
    text-align: center;
}
.titulo-footer{
    display: inline-block;
}
.iconos-footer{
    display: inline-block;
}
.footer div a i{
    width: 2em;
    height: 2em;
    color: #fff;
}
.foot{
    padding-top: 1em;
}


/* MEDIA QUERIES */
@media(max-width: 540px){
    .quienes-somos{
        display: none;
    }
}